<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%date{HH:mm:ss.SSS} %-5level %logger{1}: %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="Console" />
		</Root>
		<Logger name="com.nylas" level="DEBUG"/>
<!-- 	
		<Logger name="com.nylas.http.Summary" level="DEBUG"/>
		<Logger name="com.nylas.http.Headers" level="INFO"/>
		<Logger name="com.nylas.http.Body" level="INFO"/>
-->
	</Loggers>
</Configuration>